NDCWebService/NDCWebService/src/main/resources/wsdl/message/UBL-UnqualifiedDataTypes-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" version="2.1" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns:ccts-cct="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2">
<!-- ===== Imports ===== -->
  <xsd:import namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" schemaLocation="CCTS_CCT_SchemaModule-2.1.xsd"/>
<!-- ===== Type Definitions ===== -->
  <xsd:complexType name="AmountType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000001</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Amount. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</ccts:Definition>
        <ccts:RepresentationTermName>Amount</ccts:RepresentationTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:AmountType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="BinaryObjectType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000002</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Binary Object. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A set of finite-length sequences of binary octets.</ccts:Definition>
        <ccts:RepresentationTermName>Binary Object</ccts:RepresentationTermName>
        <ccts:PrimitiveType>binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:BinaryObjectType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="GraphicType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000003</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Graphic. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
        <ccts:RepresentationTermName>Graphic</ccts:RepresentationTermName>
        <ccts:PrimitiveType>binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:BinaryObjectType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="PictureType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000004</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Picture. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
        <ccts:RepresentationTermName>Picture</ccts:RepresentationTermName>
        <ccts:PrimitiveType>binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:BinaryObjectType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="SoundType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000005</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Sound. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
        <ccts:RepresentationTermName>Sound</ccts:RepresentationTermName>
        <ccts:PrimitiveType>binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:BinaryObjectType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="VideoType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000006</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Video. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
        <ccts:RepresentationTermName>Graphic</ccts:RepresentationTermName>
        <ccts:PrimitiveType>binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:BinaryObjectType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="CodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000007</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Code. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName>Code</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
        <ccts:UsageRule>Other supplementary components in the CCT are captured as part of the token and name for the schema module containing the code list and thus, are not declared as attributes. </ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:CodeType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="DateTimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000008</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Date Time. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName>Date Time</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
        <ccts:UsageRule>Can be used for a date and/or time.</ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT000009</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Date. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>One calendar day according the Gregorian calendar.</ccts:Definition>
        <ccts:RepresentationTermName>Date</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:date"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="TimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000010</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Time. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>The instance of time that occurs every day.</ccts:Definition>
        <ccts:RepresentationTermName>Time</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:time"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="IdentifierType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000011</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Identifier. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName>Identifier</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
        <ccts:UsageRule>Other supplementary components in the CCT are captured as part of the token and name for the schema module containing the identifer list and thus, are not declared as attributes. </ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:IdentifierType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="IndicatorType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000012</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Indicator. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A list of two mutually exclusive Boolean values that express the only possible states of a property.</ccts:Definition>
        <ccts:RepresentationTermName>Indicator</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:boolean"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000013</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Measure. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A numeric value determined by measuring an object along with the specified unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName>Measure</ccts:RepresentationTermName>
        <ccts:PropertyTermName>Type</ccts:PropertyTermName>
        <ccts:PrimitiveType>decimal</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:MeasureType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="NumericType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000014</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Numeric. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName>Numeric</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="ValueType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000015</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Value. Type</ccts:DictionaryEntryName>
        <ccts:Definition>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName>Value</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="PercentType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000016</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Percent. Type</ccts:DictionaryEntryName>
        <ccts:Definition>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName>Percent</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="RateType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000017</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Rate. Type</ccts:DictionaryEntryName>
        <ccts:Definition>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measuret.</ccts:Definition>
        <ccts:RepresentationTermName>Rate</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="QuantityType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000018</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Quantity. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A counted number of non-monetary units possibly including fractions.</ccts:Definition>
        <ccts:RepresentationTermName>Quantity</ccts:RepresentationTermName>
        <ccts:PrimitiveType>decimal</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:QuantityType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000019</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Text. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A character string (i.e. a finite set of characters) generally in the form of words of a language.</ccts:Definition>
        <ccts:RepresentationTermName>Text</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="NameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UBLUDT0000020</ccts:UniqueID>
        <ccts:CategoryCode>UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName>Name. Type</ccts:DictionaryEntryName>
        <ccts:VersionID>1.0</ccts:VersionID>
        <ccts:Definition>A character string that consititues the distinctive designation of a person, place, thing or concept.</ccts:Definition>
        <ccts:RepresentationTermName>Name</ccts:RepresentationTermName>
        <ccts:PrimitiveType>string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ccts-cct:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>